.about-me-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
}

.about-me-container {
  display: flex;
  background-color: #1b1b1b;
  border-radius: 20px;
  gap: 40px;
  overflow: hidden;
  padding-right: 40px;
}

/* .about-me-container {
    display: flex;
    background-color: #1b1b1b;
    border-radius: 20px;
    gap: 40px;
    overflow: hidden;
    padding: 40px;
    flex-direction: row;
  } */

.photo-container {
  position: relative;
  flex: 1;
  min-width: 280px;
  max-width: 400px;
  height: auto;
  display: flex;
}

.photo-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #1b1b1b, transparent 40%);
  z-index: 1;
  pointer-events: none;
}

.photo {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  /* border-radius: 10px; */
}

.about-me-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
  flex: 2;
}

.about-me-text p {
  font-size: 16px;
}

.download-resume {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #319c89;
}

.download-resume:hover {
  color: white;
}
.download-resume .arrow-icon {
  width: 20px;
  height: 20px;
}
.dev-values ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  line-height: 1.6;
}

.about-cta {
  text-align: center;
}

.about-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1rem;
}

.tech-stack-section {
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.tech-stack-section .title {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 5rem;
  /* opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 0.5s; */
}

.tech-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  row-gap: 4rem;
  height: fit-content;
}

.tech-card {
  background: #1f1f1f;
  padding: 2rem;
  padding-bottom: 0;
  border-radius: 1rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  height: 100%;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease forwards;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pill-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.pill {
  background-color: rgba(49, 156, 137, 0.1);
  color: #319c89;
  padding: 0.6rem 1rem;
  border-radius: 12px;
  font-size: 0.95rem;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: default;
}

.pill:hover {
  background-color: #319c89;
  color: #fff;
  transform: scale(1.05);
}

.cta-contact {
  font-size: 1.2rem;
}

/* @keyframes fadeIn {
  to {
    opacity: 1;
  }
} */

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 531px) {
  .stack-section {
    flex-direction: column;
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .about-me-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin-top: 0;
  }

  .photo-container {
    width: 90%;
    max-width: 90%;
    height: auto;
  }

  .photo {
    border-radius: 10px;
  }

  .about-me-side {
    width: 100%;
  }
  .photo-container::after {
    content: none;
  }

  .stack-section {
    gap: 0;
  }
}

@media (min-width: 769px) {
  .about-me-page h1 {
    margin-top: -100px;
  }

  .tech-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
